*, *:before, *:after {
  box-sizing: border-box;
}
/*universal box sizing */


header {
	/*background-image: url('images/coverUB.jpg');*/	
	background-image: linear-gradient(to right, #8a817c, #495867);
	/*background-color:#2a9d8f;*/
	
}
body{
	background-color: #f8f9fa;
}
header div{
	position: relative;
	width:100%;
	padding:15px;
	
}
/* using class here */
.roundedpro {
	border-radius: 50%;
	border: 3px solid #ffba08;
	margin-left: 50px;
	
}
/* using class here */
.greetings {
	position:absolute;
	bottom:25px;
	right:200px;
	color: #ffba08;
	font-family: 'Caveat';
	font-size: 30px;
	padding:0;
	margin:0;
}
.fullname{
	position:absolute;
	top:120px;
	left:280px;
	color:#a6a2a2;
}
.standingimg{
	position:absolute;
	right:50px;
	bottom:0;
}

nav {
	display: block;
	position:absolute;
	bottom:10px;
	right:40%;
	
}
nav a {
	color: #ffffff;
	text-decoration: none;
	padding:0;
	margin: 0 50px 0 0;
	font-family:'Bebas Neue';
	font-size: 20px;
	}
nav a:hover{
	color: #ffba08;
}
/* nested selector*/ 
li a:link{
	color: #2a9d8f;
	text-decoration:none;
	
	
}
li a:visited{
	color: #2a9d8f;
	text-decoration:none;
}
li a:hover{
	color: #e76f51;
	text-decoration:none;
}
li a:active{
	color: #2a9d8f;
	text-decoration:none;
}



h1{ 
	color: #ffffff;
	font-family: 'Berkshire Swash';
	font-size: 60px;
	position: absolute;
	top:40px;
	left:270px;
	margin:0;
	padding:15px 0 0 0;
}

/*grouped css selector*/
h2,h3,h4{
	color: #495867;
	font-size: 25px;
	font-weight:900;
	margin:0;
	padding:0;
	font-family: Lato;
}
h4{
	color: #2a9d8f;
	font-size:20px;
}

section {
	margin: 20px 0 0 20px;
	padding: 10px 0 0 20px;
}
ul {
  list-style: none;
  list-style-image: url(images/liicon.png);
  
}
hr{
	border: 0;
	height: 2px;
    background-image: linear-gradient(to right, #495867,#8a817c, #E9C46A, #F4A261,#E76F51);
	margin: 0px;
}
p,ul,label{
	margin: auto;
	padding: 10px;
	width:80%;
	font-family: 'Lato';
	color:#495867;
	font-size: 22px;
	text-align:justify;
	text-indent: 25px;
	font-weight:0;
}
/*centering contents*/
.contactimg{
	text-align:center;
}
/* playing with opacity of images used in links*/
.opaplay{
	margin: 10px;
	opacity: 0.6;
}
.opaplay:hover{
	opacity:1;
	margin: 0 10px 0px 10px;
}
main div {
	margin: auto;
	width: 80%;
	padding: 10px;
	
}
input {
	color: #ffffff;
	border-color: #e76f51;
	margin:10px;
	background-color:#264653;
	font-family:'Lato';
	font-size: 15px;
}
input:hover {
	color: #e76f51;
	border-color: #2a9d8f;
	background-color:#264653;
	font-family:'Lato';
	
}
input::placeholder {
	color:#ffffff;
	font-family:'Lato';
	font-size: 10px;
}
footer {
	position:relative;
	width:100%;
	height:150px;
	background-color: #264653;
	text-align: left;
	
	}
footer p {
	color: #ffffff;
	text-align:center;
	margin:auto;
	padding:100px 0 0 0;
	font-size: 15px;
	font-family:Lato;
}
footer nav {
	position:absolute;
	left:20px;
	top:20px;
	
}
footer div img {
	float:right;
	height:200px;
	object-fit: cover;
}

	
