*, *:before, *:after {
  box-sizing: border-box;
}
/*universal box sizing */
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Roboto|Yellowtail');

header {
	background-color: #2A9D8F;
	text-align: center;
}

body{
	background-color: #FFFFFF;
}
nav {
	float:right;
}

nav a {
	
	color: #ffffff;
	text-decoration: none;
	text-align:left;
	padding:0;
	margin: 0 50px 0 0;
	font-family:'Bebas Neue';
	font-size: 25px;
	
	
	}
nav a:hover{
	color: #e76f51;
}

.roundedpro {
	border-radius: 50%;
	border: 4px solid #e9c46a;
	margin:0;
	padding:0;
	
}
header div{
	padding-top: 25px;
	padding-bottom:25px;
	
	
}
.headerpng{
	
	
}
.greetings {
	float:left;
	color: #e9c46a;
	font-family: Yellowtail;
	font-size: 35px;
	padding:50px 0 0 65px;
	margin:0;
	
	
}
h1{ 
	color: #264653;
	font-family: 'Bebas Neue';
	font-size: 50px;
	margin:0;
	padding:15px 0 0 0;
	
}
h2,h3{
	color: #e9c46a;
	font-family: Roboto;
	font-size: 25px;
	margin:0;
	padding:0;
}

p{
	width:600px;
	color:#264653;
	font-family: Roboto;
	font-size: 20px;
	
	
}
.opaplay{
	margin: 10px;
	opacity: 0.7;
	
}
.opaplay:hover{
	opacity:1;
	margin: 0 10px 0px 10px;
}
main div {
	margin: auto;
	width: 60%;
	padding: 10px;
	
}

footer {
	width:100%;
	height:200px;
	background-color: #264653;
	text-align: left;
	
	}
footer p {
	color: #ffffff;
	float:center;
	text-align:center;
	margin:0;
	padding:150px 0 0 0;
}
footer nav {
	float: left;
	margin: 25px 0 0 25px;
	padding:0;
}
footer div img {
	float:right;
	height:200px;
	object-fit: cover;
}

	
